
@{
    ViewBag.Title = "TodoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>Profilim</p>
<p>Tüm başlıklarda pagging</p>
<p>Messajlarda Session</p>
<p>Oturum yönetiminin mimariye taşınması</p>
<p>Token Kullanımı</p>